.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }



  div[head]{
    height: 100px;
    width: 100px;
    background-color: brown; 
  }

  div[container]{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ddd;
    padding: 15px;
    margin:40px;
  }
  div[box]{
    display: flex;
    border:1px solid gray;
    height:100px;
    width:100px;
    align-items: center;
  }

 